{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Spotify Music Analysis</span>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" id="topSongsByCountryLink" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-graph-up"></i> <span
                                class="ms-1 d-none d-sm-inline">Top Songs By Country</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-soundwave"></i> <span class="ms-1 d-none d-sm-inline">Top Genres by Country</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-star"></i> <span
                                class="ms-1 d-none d-sm-inline">Top Artists by Country</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-boombox"></i> <span
                                class="ms-1 d-none d-sm-inline">Most Danceable Songs</span> </a>
                    </li>
                    <li>
                        <a id="customSearchLink" class="nav-link px-0 align-middle pe-auto">
                            <i class="fs-4 bi-search"></i> <span class="ms-1 d-none d-sm-inline">Custom Search</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/userpic.png' %}" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">UserName</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
<!--                        <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--                        <li>-->
<!--                            <hr class="dropdown-divider">-->
<!--                        </li>-->
                        <li><a class="dropdown-item" href="{% url 'sign_out' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="topSongsTable" class="col py-3">
            <h1 class="text-center mb-4">Top Songs By Country</h1>
            {% include 'tables/top_songs_table.html' %}
        </div>
        <div id="customSearch" class="col py-3">
            <h1 class="text-center mb-4">Custom Search</h1>
            {% include 'tables/custom_search.html' %}
        </div>
    </div>
</div>
<script>
    $('#customSearch').hide();
    //$('#topSongsTable').hide();
    $('#topSongsByCountryLink').click(function(ele) {
        $('#topSongsTable').show();
        $('#customSearch').hide();
     });

    $('#customSearchLink').click(function(ele) {
        $('#customSearch').show();
        $('#topSongsTable').hide();
     });
</script>
{% endblock %}