<div class="container bg-info">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Country</th>
            <th scope="col">Song Title</th>
            <th scope="col">Artist</th>
            <th scope="col">Date</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
            <th scope="col">Energy</th>
            <th scope="col">Popularity</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Belgium</td>
            <td>Shape Of You</td>
            <td>Ed Sheeran</td>
            <td>03/03/2017</td>
            <td>÷ (Deluxe)</td>
            <td>pop</td>
            <td>0.652</td>
            <td>233766.9</td>
        </tr>
        <tr>
            <td>Philippines</td>
            <td>say you wont let go</td>
            <td>James Arthur</td>
            <td>10/28/2016</td>
            <td>Back from the Edge</td>
            <td>pop</td>
            <td>0.557</td>
            <td>217605.8</td>

        </tr>
        <tr>
            <td>Philippines</td>
            <td>kathang isip</td>
            <td>Ben&Ben</td>
            <td>6/23/2017</td>
            <td>Kathang Isip</td>
            <td>opm</td>
            <td>0.314</td>
            <td>204489.85</td>
        </tr>
        <tr>
            <td> Singapore</td>
            <td> 你,好不好? - TVBS連續劇【遺憾拼圖】片尾曲</td>
            <td> Eric Chou</td>
            <td> 8/5/2016</td>
            <td> 愛,教會我們的事 歌曲介紹</td>
            <td> mandopop</td>
            <td> 0.477</td>
            <td> 202578.85</td>
        </tr>
        <tr>
            <td> Philippines</td>
            <td> kung di rin lang ikaw</td>
            <td> December Avenue - Moira Dela Torre</td>
            <td> 7/22/2018</td>
            <td> Kung 'Di Rin Lang Ikaw</td>
            <td> opm</td>
            <td> 0.482</td>
            <td> 201439.7</td>
        </tr>
        </tbody>
    </table>
</div>